body {
  background-color: #fae8c0;
  font-family: Arial, Helvetica, sans-serif;
  color: #2d4159;
}
.navbar {
  background-color: #3b526e;
}
.navbar-brand,
.nav-link {
  color: #fae8c0 !important;
}
.nav-link:hover {
  color: white !important;
}
.offcanvas {
  background-color: #3b526e;
}
.offcanvas a {
  color: #fae8c0;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.offcanvas a:hover {
  color: #fae8c0;
}
.dropdown-menu {
  background-color: #3b526e !important;
  border: none;
}
.dropdown-item {
  color: #fae8c0 !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
  color: white !important;
}

section {
  min-height: 30vh;
}
.hero-image {
  position: relative;
  height: 100vh;
  background-image: url('img/hero.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fae8c0;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
}
.about-section {
  padding: 60px 0;
}
.about-text {
  color: #2d4159;
  font-size: 1.1rem;
  text-align: justify;
  padding: 20px 0 0 0;
}
.description-gallery-section {
  padding: 50px 0;
}

.description {
  padding: 20px;
  text-align:justify;
}

.description h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: #2d4159;
}

.description p {
  font-size: 1rem;
  line-height: 1.6;
}

.description .btn {
  background-color: #3b526e;
  color: #fae8c0;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

.image-container {
  width: 150px;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fae8c0;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.image-container:hover .overlay {
  opacity: 1;
}
h5 {
  font-size: 1rem;
}
.overlay .text {
  text-align: center;
}

.modal-body img {
  width: 800px;
  height: 600px;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px;
}

.modal-body .modal-caption {
  text-align: center;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.row img {
  height: 100%;
  object-fit: cover;
}

#break {
  padding: 80px 10px;
}
.carousel-inner img {
  width: 100%;
  height: 600px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  width: 40px;
  height: 40px;
}

.form-control {
  background-color: #fae8c0;
  border: none !important;
  border-bottom: 2px solid #2d4159 !important;
  box-shadow: none;
  color: #2d4159;
  outline: none;
}

.form-control:focus {
  background-color: #fae8c0;
  border-bottom: 2px solid #2d4159;
  outline: 2px solid #2d4159;
}

button[type='submit'] {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mb-3 {
  margin-bottom: 1rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer {
  background-color: #3b526e;
  color: #fae8c0;
}
a {
  text-decoration: none;
  color: #fae8c0;
}

a:hover {
  text-decoration: none;
}
.icons {
  margin-bottom: 15px;
  color: #fae8c0;
}
.btn {
  color: #fae8c0;
}
.btn,
.px-4,
.py-2 {
  background-color: #3b526e;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  body,
  html {
    background-color: #fae8c0;
    font-family: Arial, Helvetica, sans-serif;
    color: #2d4159;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .hero-image {
    background-size: 100% 100%;
    background-position: center center;
  }
  .hero-text {
    font-size: 1.5rem;
    bottom: 15px;
    left: 15px;
  }
  .about-text {
    font-size: 1rem;
    margin: 5px;
  }
  }
.about-text {
   text-align: justify;
  color: #2d4159;
  font-size: 1.1rem;
  padding: 20px 0 0 0;
}
  .image-container {
   justify-content:center;
    -webkit-justify-content: center;
    padding: 0;
    width: 150px;
    height: 130px;
    overflow: hidden;
    position: relative;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .description {
    margin-bottom: 30px;
    text-align:justify;
  }
  .modal-body img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
  }
  .carousel-inner img {
    width: 100%;
    height: 200px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  }
  .btn,
  .px-4,
  .py-2 {
    margin-bottom: 10px;
  }
  #enter {
    margin-bottom: 30px;
  }

}
@supports (-webkit-touch-callout: none) {
  .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
